// Place all the styles related to the Rides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-ride-page {
    margin: 2% 10%;
    border: 2px solid gray;
    padding: 2%;
    height: 100%;
    & h1{
        text-align: center;
        color: #2196f3 !important;
    }
}
.back-to-rides-button {
    background-color: #2196f3;
    padding: 6px;
    margin: 5px;
    color: white;
}

.field {
    padding-top: 10px;
    display: flex;
}

.label {
    padding-right: 20px;
}

.button {
    &:hover {
        cursor: pointer;
    }
    background-color: #2196f3;
    color: white;
    border: 1px solid gray;
    padding: 10px;
    margin: 0 0 20px 0;
    height: 30px;
    text-decoration: none;
}

td {
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    text-align: center;


}